{% do view.registerAssetBundle('thedrama\\craftsesame\\assetbundles\\FormAsset') %}

{% set applyFloatLabels = applyFloatLabels ?? true %}
{% set renderFlashes = renderFlashes ?? false %}
{% set toastBg = toastBg ?? '' %}
{% set strategy = strategy ?? 'token' %}

<div class="sesame-login-container{% if applyFloatLabels %} float-labels{% endif %}">
    <div class="content">
        <div class="logo">
            <img src="{{ craft.sesame.logoUrl }}">
        </div>
        {% set mail = craft.app.session.getFlash('mail', '', true) %}
        <span>
            {% if mail %}
                {{ 'Your login request was handled successfully. If an account with the specified email exists, a mail will be sent to it.'|t('sesame') }}
            {% else %}
                {{ 'Please login, or register, by entering your email. Please note that registration is only open to specific email domains.'|t('sesame') }}
            {% endif %}
        </span>
        <form class="form" method="post">
            {% if strategy == 'token' %}
                {{ actionInput('sesame/sesame/register') }}
            {% elseif strategy == 'code' and mail %}
                {{ actionInput('sesame/sesame/code-input') }}
            {% endif %}
            {{ csrfInput() }}

            {% if strategy == 'token' %}
                <div class="field">
                    {{ input('text', 'email', null, {
                        id: 'email',
                        placeholder: applyFloatLabels ? ' ' : 'Your email'|t('sesame'),
                        'aria-required': 'true',
                        autocomplete: 'email',
                        disabled: mail|length ? true : false
                    }) }}
                    <label for="email">{{ 'Your email'|t('sesame') }}</label>
                </div>
            {% elseif strategy == 'code' and mail %}
                {# mail has been entered, switch to code input #}
                <div class="field">
                    {{ input('text', 'code', null, {
                        id: 'code',
                        placeholder: applyFloatLabels ? ' ' : 'Your code'|t('sesame'),
                        'aria-required': 'true',
                    }) }}
                    <label for="code">{{ 'Your code'|t('sesame') }}</label>
                </div>
            {% endif %}

            <button type="submit" class="btn{{ mail ? ' disabled' }}"{% if mail %} disabled{% endif %}>{{ 'Request Login Link'|t('sesame') }}</button>

            {% if mail %}
                <span>
                    <a href="#" class="resend-mail disabled">{{ 'Didn\'t receive an email? Resend the mail.'|t('sesame') }}</a>
                    <span class="resend-countdown"></span>
                </span>
                {{ hiddenInput('previousEmail', mail) }}
            {% endif %}
        </form>
    </div>
    {% if renderFlashes %}
        <div class="toast-container">
            {% set flashes = craft.app.session.getAllFlashes(true) %}
            {% for key, message in flashes %}
                <span class="toast" data-toast-key="{{ key }}"{% if toastBg %} data-toast-bg="{{ toastBg }}"{% endif %}>
                    {{ message }}
                </span>
            {% endfor %}
        </div>
    {% endif %}
</div>
